{{!-- The following component displays Ember's default welcome message. --}}
<h1>Application</h1>
{{!-- Feel free to remove this! --}}

{{#if session.isAuthenticated}}
  <a {{action 'invalidateSession'}}>Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}

{{outlet}}
